@page "/"
@using static Signature.Shared.Components.NavOptionList
@inject NotaFiscalState NotaFiscalState;
@inject MainState MainState;

@inject NavigationManager NavigationManager;

<PageTitle>@pageTitle</PageTitle>
<SectionContent SectionName="page-title">@pageTitle</SectionContent>


<div style="display:flex; flex-direction:column; justify-content:center;height:95vh;">
    <NavOptionList Items="items" OnClick="NavOptionListOnClick" />
</div>



@code {
    private string pageTitle = "NF / Chave de acesso";

    protected override void OnInitialized()
    {
        NotaFiscalState.Clear();

        string readCodeBarRoute = MainState.IsWeb ? "/nota-fiscal/chave-acesso/web/bar-code-read" : "nota-fiscal/chave-acesso/form?useBarCodeRead=true";

        items = new List<NavOptionItem> {
            new NavOptionItem("fa-solid fa-keyboard", "Digitar manualmente", "nota-fiscal/chave-acesso/form"),
            new NavOptionItem("fa-solid fa-barcode", "Ler o código de barras", readCodeBarRoute), };
    }

    public List<NavOptionItem> items = new();

    public void NavOptionListOnClick(NavOptionItem item)
    {
        if (string.IsNullOrEmpty(item.Route)) return;
        NavigationManager.NavigateTo(item.Route);
    }
}
