@inherits LayoutComponentBase

@inject IDeviceService DeviceService;
@inject MainState MainState;
@inject IJSRuntime JS;

<NavMenu />
<div class="container is-fluid">
    @Body
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        bool isWeb = DeviceService.IsWeb();
        MainState.SetIsWeb(isWeb);
    }

}