@page "/nota-fiscal/comprovante"
@using static Signature.Shared.Components.Components.NavOptionList


@inject NavigationManager NavigationManager;

<PageTitle>@pageTitle</PageTitle>
<SectionContent SectionName="page-title">@pageTitle</SectionContent>

<div style="display:flex; flex-direction:column; justify-content:center;height:95vh;">
    <NavOptionList Items="items" OnClick="NavOptionListOnClick" />
</div>

@code {
    private string pageTitle = "NF / Comprovante";

    public List<NavOptionItem> items = new List<NavOptionItem>
    {
        new NavOptionItem("fa-solid fa-camera","Tira foto", "nota-fiscal/comprovante/photo"),
        new NavOptionItem("fa-solid fa-signature","Assinar", "nota-fiscal/comprovante/signature"),
    };

    public void NavOptionListOnClick(NavOptionItem item)
    {
        if (string.IsNullOrEmpty(item.Route)) return;
        NavigationManager.NavigateTo(item.Route);
    }
}
