@page "/"
@using static Signature.Shared.Site.Components.NavOptionList
@inject NotaFiscalState NotaFiscalState;

@inject NavigationManager NavigationManager;

<PageTitle>@pageTitle</PageTitle>
<SectionContent SectionName="page-title">@pageTitle</SectionContent>


<div style="display:flex; flex-direction:column; justify-content:center;height:95vh;">
    <NavOptionList Items="items" OnClick="NavOptionListOnClick"/>
</div>



@code {
    private string pageTitle = "NF / Chave de acesso";

    protected override void OnInitialized()
    {
        NotaFiscalState.Clear();
    }

    public List<NavOptionItem> items = new List<NavOptionItem>
    {
        new NavOptionItem("fa-solid fa-keyboard","Digitar manualmente", "nota-fiscal/chave-acesso/form"),
        new NavOptionItem("fa-solid fa-barcode","Ler o código de barras", "nota-fiscal/chave-acesso/form?useBarCodeRead=true"),
    };

    public void NavOptionListOnClick(NavOptionItem item)
    {
        if (string.IsNullOrEmpty(item.Route)) return;
        NavigationManager.NavigateTo(item.Route);
    }
}
